<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间 与 对应的 映射接口 的 全类名 必须保持一致 -->
<mapper namespace="com.yc.tn.mapper.LocationMapper">

	<select id="getAllLocation" parameterType="LocationEntity" resultType="com.yc.tn.entity.LocationEntity">
		select * from scenic where city_Id=#{city_Id} and scenic_Level &gt;= #{scenic_Level} and scenic_Type like '%${scenic_Type}%' 
	</select>
	
	<select id="getScenicType" parameterType="int" resultType="String">
		select tag_Name from tag where tag_Id=#{tag_Id}
	</select>
	
</mapper>