@charset "utf-8";
/* CSS Document */

article{
	width:100%;
	height:2368px;
	
}

article .article_top{
	width:80%;
	height:3%;
	background:#CCC;
}

article .article_top  li{
	list-style:none;
	float:left;
	width:64.2px;
	text-align:center;
	height:70px;
	line-height:70px;
	display:block;
	color:white;
}

article .article_top  li:hover{
	display:block;
	background:black;
}

article .article_botton{
	margin-top:10px;
	width:80%;
	height:97%;
}

article .article_botton div{
	width:24.8%;
	float:left;
	background:white;
	height:220px;
	border:1px double gray;
	background-image:url(../images/1.jpg);
}
article .article_botton .d1 img{
	width:80%;
	height:80%;
	padding-left:20px;
	padding-top:10px;
}

article .article_botton .d1 p{
	padding-left:50px;
}

article .article_botton .d1 a{
	text-decoration:none;
}
