/* Global Start */
body {  font-size: 12px; font-family: "Microsoft Yahei", Tahoma, Helvetica, SimSun, sans-serif; }
em { font-style: normal; }
input,
textarea,
select { font-size: 12px; color: #585858; }
input { vertical-align: middle; }
input[type="text"]:focus,
input[type="password"]:focus { outline: medium none; }
.headerNav,
.header,
.bottomNav { color: #585858; }
.headerNav a,
.header a,
.bottomNav a { text-decoration: none; color: #585858; }
.headerNav a:hover,
.header a:hover,
.bottomNav a:hover { text-decoration: none; color: #162833; }
/* Global  End */
/* Clear Start */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:before,
.clearfix:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* Clear End */
/* ClearFix Start*/
.layout:after,
.hd:after,
.bd:after,
.ft:after,
.layoutLeft:after,
.layoutRight:after,
.w980:after,
.wp:after,
.wFull_:after
 { content: ""; display: block; clear: both; visibility: hidden; }
.layout,
.hd,
.bd,
.ft,
.layoutLeft,
.layoutRight,
.w980,
.wp,
.wFull_{ zoom: 1; }
/* ClearFix End */
/* 论坛首页 Start */
.headerNav .layout,
.header .layout,
.bottomNav .layout  { width: 980px; margin: 0 auto; }
.layoutLeft { float: left; display: inline; width: 660px; }
.layoutRight { float: right; display: inline; width: 260px; }
.w980 { width: 980px; margin: 0 auto; }
.floatR { float: right; }
.floatL { float: left; }
/* 论坛头部 */


.headerNav { position: relative; height: 54px;min-width: 640px; z-index: 1090; background:#1a2b38; }
.headerNav .logo { position: relative; float: left; display: inline; width:142px; height: 54px;}
.headerNav .logo img { position: absolute; top: 0; left: 0; }
.headerNav .nav { float: left; display: inline; margin-left:11px; }
.headerNav .nav li { float: left; display: inline; width:65px; height: 44px; padding-top: 10px; margin-right:3px; z-index:5;}
.headerNav .nav li a.topLink { display: block; padding: 5px 18px 10px 10px; font: 16px/22px "Microsoft Yahei"; height: 28px; color: #FFF; border-radius: 5px; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 42px -65px; }
.headerNav .nav li a.topLink:hover,
.headerNav .nav li:hover a.topLink { background-color: #344654; }
.headerNav .nav dl { position: absolute; top: 38px; width: 97px; background-color: #344654; border-radius: 5px; padding-top: 5px; padding-bottom: 5px; display: none; }
.headerNav .nav dl dd { width: 100%; }
.headerNav .nav dl dd a { display: block; margin: 0 10px; font: 12px/32px "Microsoft Yahei"; padding-left: 3px; height: 32px; border-top: 1px solid #475a68; border-bottom: 1px solid #2c373f; color: #FFF; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat right -118px; }
.headerNav .nav dl dd a:hover { color: #43a6df; }
.headerNav .nav dl dd a.first { border-top: 0 none; }
.headerNav .nav dl dd a.last { border-bottom: 0 none; }
/* */
.headerNav .searchTopNav { position: relative; float: right; display: inline; width:80px; height: 30px; margin-top: 11px; margin-right: 0; background:#768693; }
.searchTopNav .tips { position: absolute; top: 6px; left: 10px; color:#1A2B38; }
.searchTopNav .text { position: absolute; top: 8px; left: 10px; font: 12px/16px "Microsoft Yahei"; width:50px; height: 16px; color: #1A2B38; padding: 0; border: 0 none; background: none; }
.searchTopNav .subButton { position: absolute; top: 8px; right: 10px; width: 15px; height: 15px; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -182px; border: 0 none; cursor: pointer; }
/* */
.headerNav .loginInfo { position: relative; float: right; display: inline; *width: 108px; margin-top: 12px; }
.loginInfo li { position: relative; float: right; display: inline; margin-left: 6px; width: 28px; height: 42px; z-index: 5; }
.loginInfo .avatar {}
.loginInfo .avatar img { width: 28px; height: 28px; border-radius: 3px; }
.loginInfo .eMail { display: block; width: 28px; height: 28px; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -211px; }
.loginInfo .eMail:hover { background-position: 0 -359px; }
.loginInfo .wideScreen { display: block; width: 28px; height: 28px; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -247px; } /* 宽屏 */
.loginInfo .wideScreen:hover { background-position: 0 -284px; }
.loginInfo .narrowScreen { display: block; width: 28px; height: 28px; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -396px; } /* 窄屏 */
.loginInfo .narrowScreen:hover { background-position: 0 -433px; }
.loginInfo .contacts { display: block; width: 28px; height: 28px; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -322px; }
.loginInfo .contacts:hover { background-position: 0 -470px; }

.loginInfo .infoPopup { position: absolute; top: 42px; right: 0; width: 240px; background: #12212c; border-top: 1px solid #344654; display: none; }
.loginInfo .infoPopup a { color: #FFF; }
.loginInfo .infoPopup a:hover { color: #43a6df; }
.loginInfo .infoPopup .starTop,
.loginInfo .infoPopup .starBottom { position: absolute; top: -10px; right: 4px; font: 20px/20px "SimSun"; color: #344654; }
.loginInfo .infoPopup .starTop { color: #12212c; top: -9px; }
.loginInfo .infoPopup .nameList { padding: 8px 0 10px 15px; overflow: hidden; zoom: 1; }
.loginInfo .infoPopup .nameList a { float: left; font: 12px/20px "Microsoft Yahei"; margin-right: 18px; white-space: nowrap; }
/* */
.loginInfo li.eMailLi { z-index: 1; }
.messagePopup { position: absolute; top: 42px; right: 0; width: 260px; background: #12212c; border-top: 1px solid #344654; display: none; }
.messagePopup a { color: #FFF; }
.messagePopup a:hover { color: #43a6df; }
.messagePopup .starTop,
.messagePopup .starBottom { position: absolute; top: -10px; right: 4px; font: 20px/20px "SimSun"; color: #344654; }
.messagePopup .starTop { color: #12212c; top: -9px; }
.messagePopup .messageList { padding: 0 10px 0 18px; overflow: hidden; zoom: 1; }
.messagePopup .btn { float: left; display: block; width: 108px; font: 12px/38px "Microsoft Yahei"; text-indent: 27px; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -823px; }
.messagePopup .btn:hover { background-position: 0 -1210px; }
.messagePopup .btn i { font-style: normal; color: #ff7e00; }
.messagePopup .btn:hover i { color: #43a6df; }
.messagePopup .messageTips { background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -823px; }
.messagePopup .messageTips:hover { background-position: 0 -1210px; }
.messagePopup .messageNum { background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -857px; }
.messagePopup .messageNum:hover { background-position: 0 -1244px; }
.messagePopup .closeBtn { float: right; display: block; margin-top: 12px; font-size: 0; width: 14px; height: 14px; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -1321px; cursor: pointer; text-indent: -9999px; }
.messagePopup .closeBtn:hover { background-position: 0 -1292px; }
/* */
.myControl { width: 100%; overflow: hidden; }
.myControl .idName { font: 700 14px/34px "Microsoft Yahei"; text-align: center; color: #FFF; border-bottom: 1px solid #21303b; }
.myControl .list { width: 250px; padding: 10px 0; overflow: hidden; }
.myControl .list li { float: left; display: inline; width: 120px; height: 30px; border-right: 1px solid #21303b; margin-left: 0; }
.myControl .list li a { display: block; font: 12px/30px "Microsoft Yahei"; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 15px -510px; text-indent: 45px; }
.myControl .list li a.myInvit { background-position: 15px -509px; }
.myControl .list li a.myInvit:hover { background-position: 15px -896px; }
.myControl .list li a.myAlbum { background-position: 15px -686px; }
.myControl .list li a.myAlbum:hover { background-position: 15px -1073px; }
.myControl .list li a.myLog { background-position: 15px -542px; }
.myControl .list li a.myLog:hover { background-position: 15px -929px; }
.myControl .list li a.myTask { background-position: 15px -720px; }
.myControl .list li a.myTask:hover { background-position: 15px -1107px; }
.myControl .list li a.myFriend { background-position: 15px -579px; }
.myControl .list li a.myFriend:hover { background-position: 15px -966px; }
.myControl .list li a.myAccount { background-position: 15px -757px; }
.myControl .list li a.myAccount:hover { background-position: 15px -1144px; }
.myControl .list li a.myDoor { background-position: 15px -613px; }
.myControl .list li a.myDoor:hover { background-position: 15px -1000px; }
.myControl .list li a.myCenter { background-position: 15px -793px; }
.myControl .list li a.myCenter:hover { background-position: 15px -1180px; }
.myControl .list li a.myQuit { background-position: 15px -650px; }
.myControl .list li a.myQuit:hover { background-position: 15px -1037px; }
/* */
.headerNav .noLogin li { float: right; display: right; font-size: 0; text-align: right; margin-top: 12px; margin-left:7px; display:inline; }
.noLogin .loginIco,
.noLogin .regIco { display: inline-block; *display: inline; *zoom: 1; width: 38px; height: 28px; font: 12px/28px "Microsoft Yahei"; color: #99A5AE; background: #344654; text-align: center; border-radius: 3px; vertical-align: middle; }
.noLogin .loginIco:hover,
.noLogin .regIco:hover { color: #FFF; background: #43a6df; }
.noLogin .sinaIco { display: inline-block; *display: inline; *zoom: 1; width: 19px; height: 17px; font-size: 0; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 0; vertical-align: middle; margin-top:6px;}
.noLogin .qqIco { display: inline-block; *display: inline; *zoom: 1; width: 15px; height: 16px; font-size: 0; background: url(http://static.8264.com/static/image/common/header_ico.png) no-repeat 0 -35px; vertical-align: middle; margin-top:6px;}
/* */
.header { position: relative; padding-top:10px; border-bottom: 1px solid #ebebeb; background: #fbfbfb; z-index: 100; }
.header .icoHill { position: absolute; bottom: -1px; right:264px; width:171px; height:16px; background: url(http://static.8264.com/static/image/common/bg_fourm_sprite.png) no-repeat 0 -206px; text-indent: -9999px; }
.header .layout { position: relative; height:60px; }
.header .headerL { float: left;}
.headerL .whereIs { float: left; display: block; width: 62px; height: 62px; font: 35px/57px "Microsoft Yahei"; text-align: center; margin-right: 15px; color: #FFF; overflow: hidden; background: #43a6df; border-radius: 3px; }
.headerL .whereIs:hover { color: #FFF; background: #1a2b38; }
.headerL h1 { overflow: hidden; width:200px; height:35px;}
.headerL h1 .country { float: left; font: 22px/32px "Microsoft Yahei"; color: #1a2b38; }
.headerL h1 .adminTips { position: relative; float: left; display: inline; margin-top: 9px; margin-left: 15px; padding: 0 10px; font: 12px/22px "Microsoft Yahei"; height: 22px; color: #939292; border-radius: 3px; background: #f0f0f0; }
.headerL h1 .adminTips i { position: absolute; top: 5px; left: -5px; font: 16px/16px "SimSun"; color: #f0f0f0; }

.headerL h5 { overflow: hidden; width:200px; height:35px;}
.headerL h5 .country { float: left; font: 22px/32px "Microsoft Yahei"; color: #1a2b38; }
.headerL h5 .adminTips { position: relative; float: left; display: inline; margin-top: 9px; margin-left: 15px; padding: 0 10px; font: 12px/22px "Microsoft Yahei"; height: 22px; color: #939292; border-radius: 3px; background: #f0f0f0; }
.headerL h5 .adminTips i { position: absolute; top: 5px; left: -5px; font: 16px/16px "SimSun"; color: #f0f0f0; }

.headerL .site { float:left;}
.headerL .site a {  }
.headerL .site a:hover {  }
.headerL .site span { color: #1a2b38; }
.header .headerR { display: inline; position:absolute; right:0px; top:0px;}
.header .colNameList { padding-top: 12px; font-size: 0; text-align: right; }
.header .colNameList a { display: inline-block; *display: inline; *zoom: 1; font: 12px/23px "Microsoft Yahei"; height: 23px; margin-left: 12px; padding: 0 12px; color: #878787; background: #efefef; border-radius: 3px; }
.header .colNameList a:hover, .header .colNameList a.nowmod{ color: #FFF; background: #43A6DF; }
/* */
.bbsNumCount { float: right; margin-top: 5px; }
.bbsNumCount .numBox { float: right; text-align: right; border-right: 1px solid #d8d8d8; padding: 1px 11px 2px 15px; }
.bbsNumCount .num { font: 12px/18px "Microsoft Yahei"; color: ##1A2B38; margin-bottom: 5px; }
.bbsNumCount .day { font: 12px/14px "Microsoft Yahei"; color: ##1A2B38; color: #828282; }
/* 底部导航 */
.bottomNav { _position: relative; background: #060e15; padding: 15px 0; color: #807f7f; }
.bottomNav a { color: #807f7f; }
.bottomNav a:hover { color: #FFF; }
.bottomNav .copyright { float: left; display: inline; width:455px; font: 12px/20px "Microsoft Yahei"; padding-left: 40px; background: url(http://static.8264.com/static/image/common/bg_fourm_sprite.png) no-repeat -160px -46px; box-sizing:content-box; }
.bottomNav .copyright p{ margin:0px;}
.bottomNav .someLink { float: right; display: inline; text-align: right; font: 12px/32px "Microsoft Yahei"; }
.bottomNav .app { margin-left: 10px; font-size: 0; vertical-align: middle; }
.appIco_95x27 { display: inline-block; *display: inline; *zoom: 1; width: 95px; height: 27px; background: url(http://static.8264.com/static/image/common/bg_fourm_sprite.png) no-repeat 0 -30px; vertical-align: middle; text-indent: -9999px; overflow: hidden; font-size: 0; }
.appIco_95x27:hover { background: url(http://static.8264.com/static/image/common/bg_fourm_sprite.png) no-repeat 0 -60px;}
/* public Start */
.floatL,
.layout .floatL { float: left; display: inline; }
.floatR,
.layout .floatR { float: right; display: inline; }
.mt10 { margin-top: 10px; }
/* 全屏相关 */
.wFull {}
.wFull .layout { width: 97%; }
.mt30 { margin-top: 30px; }
/* public End */

/* 2014.01.10 头部任务马甲信息头像总体修改 */
.myidcz:after,.mjwarpten:after,.rwwarpten li a:after{ content: ""; display: block; clear: both; visibility: hidden; }
.myidcz,.mjwarpten,.rwwarpten li a{ zoom: 1; }
.head_login_info{ position: relative; float: right; display: inline; /*width: 160px;*/ margin: 9px 0 0 7px;}
.head_login_info li { position: relative; float: left; display: inline; width:38px; }
.head_login_icon24_24{ display:block; width:26px; height:40px; padding:5px 6px 0px 6px;}
.head_login_icon24_24:hover{  background:#344654; border-radius:2px 2px 0px 0px;}
.nohover:hover{background: none;}
.icon_new{background-color: #ff7e00;height: 46px;color: #fff!important;text-align: center;}
.head_login_icon24_24_zhong{  background:#344654; border-radius:2px 2px 0px 0px;}
.head_login_info li .rwimg{border-radius:2px; width:24px; height:24px; display:block; background:url(http://static.8264.com/static/image/common/rw.jpg) no-repeat;}
.head_login_info li .mjimg{border-radius:2px; width:26px; height:26px; display:block; background:url(http://static.8264.com/static/image/common/xx.png) 0 -30px no-repeat; }
.head_login_info li .xximg{border-radius:2px; width:26px; height:26px; display:block; background:url(http://static.8264.com/static/image/common/xx.png) 0 0 no-repeat;}
.head_login_info li .bimg, .head_login_info li .newimg{-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;display: block;width: 26px;height: 26px;line-height: 26px;text-align: center;color: #fff;font-size: 12px;}
.head_login_info li .bimg{background-color: #e3a000;}
.head_login_info li .newimg{background-color: #e36b00;}
.head_login_icon24_24_zhong .newimg,.head_login_info li .nimg{border-radius:2px; width:26px; height:26px; display:block; background:url(http://static.8264.com/static/image/common/xx.png) 0 0 no-repeat;font-size: 0!important;}
.head_login_info li .newimg, .head_login_info li .bimg{position: relative;}
.head_login_info li .newimg i, .head_login_info li .bimg i{position: absolute;display: block;width: 16px;height: 16px;background: url(http://static.8264.com/static/image/common/xx.png) no-repeat;right: -7px;top: -7px;}
.head_login_info li .newimg i{background-position: 0 -80px;}
.head_login_info li .bimg i{background-position: 0 -60px;}
.head_login_icon24_24_zhong .newimg i, .head_login_info li .nimg i{display: none!important;}
.head_login_info li .xximg_1{border-radius:2px; width:24px; height:24px; display:block; background:url(http://static.8264.com/static/image/common/xx_1.jpg) no-repeat;margin-bottom: 2px;}
.head_login_icon24_24:hover,.head_login_icon24_24_zhong{font-size: 0;}
.head_login_icon24_24:hover .xximg_1,.head_login_icon24_24_zhong .xximg_1{background:url(http://static.8264.com/static/image/common/xx.jpg) no-repeat!important;}
.head_login_info li .tx img{ width:26px; height:26px; border-radius:2px; }
.blue_icon_9_9{ width:10px; height:10px; display:block; background:url(http://static.8264.com/static/image/common/blue_icon8.png) no-repeat; position:absolute; top:3px; right:3px;}
.orange_icon_9_9{ width:10px; height:10px; display:block; background:url(http://static.8264.com/static/image/common/orange_icon8.png) no-repeat; position:absolute; top:3px; right:3px;}
.myidnamewarpten{ width:180px; padding:10px 15px; border-radius:5px; background:#344654; position:absolute; top:35px; right:0px;z-index: 9;}
.myidname{ height:30px; border-bottom:#2c373f solid 1px; text-align:center;}
.myidname a{ font-size:14px; color:#fff; float:left; padding-left:7px;}
.myidname a:hover{ font-size:14px; color:#fff; }
.myidcz{ border-top:#475a68 solid 1px; padding-top:5px;}
.myidcz li{ height:30px; width:90px; float:left;}
.myidcz li a{ font-size:12px; color:#fff; background:url(http://static.8264.com/static/image/common/header_ico.png) no-repeat; text-indent:30px; line-height:30px; height:30px; display:block;}
.myidcz li a:hover{ color:#43a6df;}
.myidcz .wdtz{ background-position:4px -509px;}
.myidcz .wdtz:hover{ background-position:4px -896px; }
.myidcz .wdxc{  background-position: 4px -686px; }
.myidcz .wdxc:hover{ background-position: 4px -1073px;}
.myidcz .myLog { background-position: 4px -542px; }
.myidcz .myLog:hover { background-position: 4px -929px; }
.myidcz .myFriend { background-position: 4px -579px; }
.myidcz .myFriend:hover { background-position: 4px -966px; }
.myidcz .myAccount { background-position: 4px -758px; }
.myidcz .myAccount:hover { background-position: 4px -1145px; }
.myidcz .myDoor { background-position: 4px -616px }
.myidcz .myDoor:hover { background-position: 4px -1002px; }
.myidcz .myCenter { background-position: 4px -793px; }
.myidcz .myCenter:hover { background-position: 4px -1180px; }
.myidcz .myQuit { background-position: 4px -650px; }
.myidcz .myQuit:hover { background-position: 4px -1037px; }
.myidcz .sc{  background-position: 4px  -1604px; }
.myidcz .sc:hover{ background-position: 4px -1650px;}
.myidcz .myrenwu{  background-position: 4px -1479px; }
.myidcz .myrenwu:hover{ background-position: 4px -1447px;}
.xxwarpten{  width:118px; padding:2px 10px 5px 10px; border-radius:5px; background:#344654; position:absolute; top:35px; right:0px; display:none;}
.xxwarpten li{ width:100%; cursor:pointer;}
.xxwarpten li a.first{ border-top:0 none;}
.xxwarpten li a.last{ border-bottom:0 none;}
.xxwarpten li a{height:34px; font-size:12px; color:#fff; background:url(http://static.8264.com/static/image/common/header_ico.png) no-repeat; text-indent:30px; display:block;  border-bottom: 1px solid #2c373f; border-top: 1px solid #475a68;}
.xxwarpten li a:hover{ color:#43a6df;}
.xxwarpten li a i{ font-style:normal; float:right; text-indent:0; padding:9px 5px 0px 0px; cursor:pointer;}
.xxwarpten .messageTips{ background-position:0 -823px;}
.xxwarpten .messageTips:hover{ background-position: 0 -1210px}
.xxwarpten .messageNum{ background-position:0 -859px;}
.xxwarpten .messageNum:hover{ background-position:0 -1246px;}
.xxwarpten .yqrw{ background-position:0 -1559px;}
.xxwarpten .yqrw:hover{ background-position: 0 -1520px;}
.mjwarpten{ width:200px; padding:5px 15px 10px 15px; border-radius:5px; background:#344654; position:absolute; top:35px; right:0px;}
.mjwarpten a{ display: inline; white-space: nowrap; color:#fff; font-size:12px; margin:5px 10px 0px 0px; float:left;}
.mjwarpten a:hover{ color:#43a6df;}
.rwwarpten{  width:118px; padding:2px 10px 5px 10px; border-radius:5px; background:#344654; position:absolute; top:35px; right:0px;}
.rwwarpten li{ height:35px; width:100%;}
.rwwarpten li a.first{ border-top:0 none;}
.rwwarpten li a.last{ border-bottom:0 none;}
.rwwarpten li a{height:35px; font-size:12px; color:#fff; background:url(http://static.8264.com/static/image/common/header_ico.png) no-repeat; text-indent:25px; display:block;  border-bottom: 1px solid #2c373f; border-top: 1px solid #475a68;}
.rwwarpten li a:hover{ color:#43a6df;}
.rwwarpten li a i{ font-style:normal; float:right; text-indent:0; padding:9px 5px 0px 0px; cursor:pointer;}
.xxwarpten .newrw{ background-position:0 -1476px;}
.xxwarpten li .newrw:hover{ background-position: 0 -1444px}
.rwwarpten .rwing{ background-position:0 -1408px; padding-top:0px;}
.rwwarpten .rwing:hover{ background-position:0 -1370px;}
.xxwarpten li a .float_l{ float:left; padding:9px 0px 0px 0px; cursor:pointer;}
.rwwarpten li a .float_l{ float:left; padding:9px 0px 0px 0px; cursor:pointer;}
.headerNav .nav li.wan{ float: left; display: inline; width:52px; height: 44px; padding-top: 10px; margin-right:10px; z-index:5; position:relative;}
.headerNav .nav li.wan .new{ width:38px; height:17px; position:absolute; top:2px; right:117px; display:block; background:url(http://static.8264.com/static/images/common/newicon.png) no-repeat;}
.headerNav .nav li.fx{ float: left; display: inline; width:0px; height:30px; margin:13px 9px 0px 7px; z-index:5; border-left:#0f1a24 solid 1px; border-right:#223849 solid 1px; padding:0;}
.headerNav .nav li a.topLink_w_bg { display: block; padding: 5px 0px 0px 13px; font: 16px/22px "Microsoft Yahei"; height: 28px; color: #FFF; border-radius: 5px; background:none; }
.headerNav .nav li a.topLink_w_bg:hover{ background-color:none; }
.headerNav .nav li a.wkuan {/* width:72px;*/ display: block; padding: 5px 0px 0px 10px; font: 16px/22px "Microsoft Yahei"; height: 28px; color: #FFF; border-radius: 5px; background:none; }
.headerNav .nav li a.wkuan:hover{ background-color:none;}

/*新版消息通知页面*/
ul.notelist span.fl{border:none;}
.myidname .bicon{ background:url(http://static.8264.com/static/image/common/header_ico.png) 0px -1707px no-repeat; float:right; color:#e36b00; font-size:12px; float:right; padding:1px 13px 0px 20px; margin-top:2px;}
.myidname .bicon:hover{ color:#e36b00; font-size:12px; }

.headerNav .nav li.qje{ width:76px;}
.headerNav .nav li.qje a.topLink{ background-position:53px -65px;}

