/* CSS Document */
body{ margin:0; padding:0;}
ul{ list-style:none; margin:auto 0px; letter-spacing:0; word-spacing:0; padding:0;}
input,button,select,textarea{outline:none}
h3.title_22px:after,.dz_function:after,.dz_other:after,.threadlist_text:after,.forum_threadlist li:after{content: ""; display: block; clear: both; visibility: hidden;}
h3.title_22px,.dz_function,.dz_other,.threadlist_text,.forum_threadlist li{ zoom: 1;}

.reg_bg{ width:100%;min-width: 640px; position:absolute; left:0px; top:54px;right: 0;bottom: 0; margin:0px; padding:0px;}
.reg_bg_img{ height:100%; width:100%; text-align:center; overflow:hidden;}
.reg_bg img{ width:100%; left:0px; top:0px; position:absolute; }
/*.reg_cnt{ width:100%; position:absolute; left:0px; top:0px; margin-top:54px;}*/
.reg_cntcon{ width:980px; margin:0 auto; position:relative;}
.reg_main{ width:307px; float:right; background:url(http://static.8264.com/static/images/common/bgwhite.png); border-radius:5px; margin-top:90px; color:#585858; padding:33px; font-family:"Microsoft Yahei",Tahoma,Helvetica,SimSun,sans-serif; }
h3.title_22px{ font-size:22px; font-weight:normal; margin:0px 0px 22px 0px; padding:0px;}
h3.title_22px em{ float:left; font-style:normal; }
h3.title_22px span{ float:right; font-size:12px; padding-top:12px;}
h3.title_22px span a{ color:#43a6df;}

.inputlist{ position:relative; margin-bottom:22px; }
.inputlist_select{ position:relative; margin-bottom:6px; display: none;}
.inputlist_select .titlename{ display:block; padding:0px 0px 10px 0px; }
.labelicon{ position:absolute; height:39px; font-size:14px; line-height:39px; color:#a8a8a8; top:2px; left:1px; background:#fff; width:305px; text-indent:47px}
.selectdivnote{ height:41px; border: 1px solid #D6D6D6; color:#a8a8a8; border-radius: 3px; text-indent:15px; line-height:41px; background:url(http://static.8264.com/static/images/common/bgicon.png) 269px -90px  no-repeat #fff; cursor:pointer; font-size:14px;}
.selectdivnote_down{  border: 1px solid #D6D6D6; color:#a8a8a8; border-radius: 3px; position:absolute; top:70px; _top:41px; left:0px;_left:-1px; background:#fff; width:305px; border-top:0 none; padding-bottom:10px; display:none;}
.selectdivnote_down li{ height:25px; line-height:25px; font-size:14px;}
.selectdivnote_down li.select{ color:#585858;}
.logoicon{ background:url(http://static.8264.com/static/images/common/bgicon.png) -362px 9px no-repeat;}
.passwordicon{ background:url(http://static.8264.com/static/images/common/bgicon.png) -365px -42px no-repeat;}
.button_dl{ width:307px; height:41px; background:url(http://static.8264.com/static/images/common/bgicon.png) 0px -140px no-repeat; border:0; cursor:pointer;}
.button_dl:hover{ background:url(http://static.8264.com/static/images/common/bgicon.png) 0px -184px no-repeat;}
.button_pwd{ width:307px; height:41px; background:url(http://static.8264.com/static/images/common/pwdback.png) 0px 0px no-repeat; border:0; cursor:pointer;}
.button_pwd:hover{ background:url(http://static.8264.com/static/images/common/pwdback.png) 0px -42px no-repeat;}
.input_text{ height: 21px; font: 14px/21px "Microsoft Yahei"; padding: 10px; color: #585858; border: 1px solid #D6D6D6; border-radius: 3px; padding-left:47px; position:relative;}
.input_text:hover{ border: 1px solid #43A6DF; box-shadow: 0 0 3px #B8DDF3;}
.w307{ width:247px;}
.dz_function{ font-size:12px; padding-bottom:16px; ;}
.dz_function_l{ float:left;}
.dz_function_l input{ margin-right:4px;}
.dz_function_r{ float:right;}
.dz_function_r a{ color:#585858;}
.dz_other{}
.dz_other_l{ float:left; background:url(http://static.8264.com/static/images/common/bgicon.png) 0px 0px no-repeat; width:150px; height:40px;}
.dz_other_r{ float:right; background:url(http://static.8264.com/static/images/common/bgicon.png) 0px -43px no-repeat; width:150px; height:40px;}
.selectdiv{ padding:8px 0px 0px 0px;}
.safeanswer{ width:151px; border: 1px solid #D6D6D6; border-radius: 3px; padding:7px; display:none; padding-left: 14px; font: 14px/21px "Microsoft Yahei"; }
.failure{ display:none; background:url(http://static.8264.com/static/images/common/bgicon.png) -358px -158px  no-repeat; color:#ce3a00; font-size:12px; line-height:21px; text-align:center; margin-bottom:12px;}
.r_top_message { display: none; font-size:12px; line-height:21px; text-align:center; margin-bottom:12px; }
.r_top_message a { color: #43a6df; }
/* 注册补充 */
.inputlist_zc{ position:relative; }
.noteinfo{ display:block; text-align:right; font-size:12px; height:27px; line-height:27px; visibility: hidden; }
.noteright{ background:url(http://static.8264.com/static/images/common/bgicon.png) 289px -330px no-repeat; height:27px; line-height:27px; display:block;}
.noteerror{ color:#ce3a00; display:block; text-align:right; font-size:12px; height:27px; line-height:27px;}
.emailicon{ background:url(http://static.8264.com/static/images/common/bgicon.png) -362px -98px no-repeat;}
.button_zc{ width:307px; height:41px; background:url(http://static.8264.com/static/images/common/bgicon.png) 0 -228px no-repeat; border:0; cursor:pointer;}
.button_zc:hover{ background:url(http://static.8264.com/static/images/common/bgicon.png) 0px -272px no-repeat;}
.button_qq {  width:307px; height:41px; background:url(http://static.8264.com/static/images/common/bgicon.png) 0 -447px no-repeat; border:0; cursor:pointer; }
.button_qq:hover{ background:url(http://static.8264.com/static/images/common/bgicon.png) 0px -491px no-repeat;}
.button_bd {  width:307px; height:41px; background:url(http://static.8264.com/static/images/common/bgicon.png) 0 -359px no-repeat; border:0; cursor:pointer; }
.button_bd:hover{ background:url(http://static.8264.com/static/images/common/bgicon.png) 0px -403px no-repeat;}

/* 论坛列表页 */
.forum_threadlist li:after { content: ""; display: block; clear: both; visibility: hidden; }
.forum_threadlist li{ zoom: 1; }
.list_forum_explain .bt{ float:left; font-size:16px;}
.list_forum_explain{ width:328px; height:128px; border:#e6e6e6 solid 1px; background:#fbfbfb; float:left; padding:0px 15px ; overflow:hidden;}
.list_forum_explain h3{ border-bottom:#e6e6e6 solid 1px; margin:0px;padding:10px 0px 5px 0px!important; font-size:18px; color:#1a2b38; font-weight:normal;  }
.list_forum_explain h3 a{ font-size:12px; float:right; color:#1a2b38; margin:6px 0px 2px 6px; _margin-top:-30px;*+margin-top:-30px;}
.list_forum_explain h3 a:hover{ font-size:12px; float:right; color:#42a3dc;}
.list_forum_explain b{ display:block; color:#1a2b38; font-weight:normal; padding:9px 0px 0px 0px; font-size:12px;}
.list_forum_explain p{ margin:0px; padding:8px 0px 0px 0px; line-height:150%; font-size:12px;}
.list_forum_explain_r_ad{ float:right; width:610px;}
.ad_l_260{ width:300px;  text-align: center; background:#f1f1f1; float:left;}
.ad_r_260{ width:300px;  text-align: center; background:#f1f1f1; float:right;}
.ad_r_260 img, .ad_l_260 img { width:300px; height: 130px; }
.hght{ height:37px; _overflow:hidden;}
.forum_post{ float:left; font-size:0px; position:relative; z-index:1}
.forum_post .forum_post_button{ background:url(http://static.8264.com/static/images/common/bbslisticon.jpg?1) 0px -198px no-repeat; width:133px; height:43px; display:inline-block; *display:inline; *zoom:1; cursor:pointer; position:relative; margin-right:10px;}
.forum_post .forum_post_button.forum_post_newbutton{background-position:0 -366px}
.forum_post .imgfl_button{ background:url(http://static.8264.com/static/images/common/bbslisticon.jpg?1) 0px 0px no-repeat; width:133px; height:43px; display:inline-block; *display:inline; *zoom:1; cursor:pointer; margin-right:10px;}
.forum_post .imgfl_button:hover{ background:url(http://static.8264.com/static/images/common/bbslisticon.jpg?1) 0px -44px no-repeat; }
.forum_post .fbhdbutton{ background:url(http://static.8264.com/static/images/common/bbslisticon.jpg?1) 0px -410px no-repeat; width:133px; height:43px; display:inline-block; *display:inline; *zoom:1; cursor:pointer; margin-right: 10px;}
.forum_post .fbhdbutton:hover{ background:url(http://static.8264.com/static/images/common/bbslisticon.jpg?1) 0px -454px no-repeat; }
.forum_post .imghd_button{ background:url(http://static.8264.com/static/images/common/bbslisticon.jpg?1) 0 -278px no-repeat; width:133px; height:43px; display:inline-block; *display:inline; *zoom:1; cursor:pointer;margin-right: 10px;}
.forum_post .imghd_button:hover{ background:url(http://static.8264.com/static/images/common/bbslisticon.jpg?1) 0 -322px no-repeat; }
.ptb16{ padding:16px 0;}
.forum_post_outcon { width: 129px; padding-top: 4px; position:absolute; top:43px; left:0px; z-index: 1; _height: 30px; background: #fff; display:none; }
.forum_post_outcon_up { display:none; width: 129px; padding-bottom: 6px; position:absolute; bottom:41px; left:0px; z-index: 1; }
.forum_post_out{ width:129px; border:#ff7e00 solid 2px; border-radius:3px; display: block;position:absolute; z-index:99!important;}
.forum_post_out a{ height:40px; line-height:40px; font-size:16px; color:#ff7e00; display:block; text-align:center; background-color: #fff!important; }
.forum_post_out a:hover{ height:40px; line-height:40px;background:#ff7e00!important; color:#fff; text-decoration:none;}
.list_pager{  }
.list_pager .pg { margin: 0 0 16px; _margin: 0 0 10px; }
.list_pager .pg a,
.list_pager .pg strong { float: left; display: block; font-size: 15px; font-weight: 400; color: #999; height: 24px; padding: 6px 7px 4px; margin-left: 5px; font-family: "Microsoft YaHei"; background: none; border: 0; border-bottom: 2px solid #fff;}
.list_pager .pg a:hover,
.list_pager .pg strong,
.list_pager .pg a.select { border: 0; border-bottom: 2px solid #00A6FC; color: #141414; text-decoration: none; background: none; }
.list_pager .pg .prev { display: none; }
.list_forum_top_fg{ height:10px; border-top:#e6e6e6 solid 1px;_z-index:1; position:relative;}
.list_forum_top_fg span{ background: url(http://static.8264.com/static/images/common/arrowdown.jpg) top center no-repeat; height:6px; top:-1px; display:block; _z-index:99 ; position:absolute; width:10px; left:50%}
.forum_threadlist li{ border-bottom:#e6e6e6 dashed 1px; padding:10px 0px 10px 0px;}
.icon_gl{ width:55px; text-align:center; padding-top:12px;  float:left;}
.threadlist_lz{ float:left;}
.threadlist_text a{ font-size:16px; float:left; }
a.th_tit:link{ color:#1e6d9b;}
a.th_tit:visited{ color:#1a2b38;}
a.th_tit:hover{ color:#1a2b38;}
a.th_tit:active{ color:#1a2b38;}
.threadlist_text span{ margin-left:5px; display:inline; float:left; height:24px; line-height:24px;}
.threadlist_text span.bold{ float:none;}
.threadlist_text a.newicon16_16{ width:30px; height:16px; display:inline-block; color:#ff7e00; font-size:12px; margin-top:4px;  margin-left:5px; float:left; display:inline; }
.threadlist_text span.fjicon16_16{ width:16px; height:16px; background:url(http://static.8264.com/static/images/common/bbslisticon.jpg) -142px 1px no-repeat;  margin-top:4px;}
.threadlist_text span.imgicon16_16{ width:16px; height:16px; background:url(http://static.8264.com/static/images/common/bbslisticon.jpg) -141px -22px no-repeat;  margin-top:4px; float:left;}
.threadlist_text span.bcion16_16{ width:16px; height:16px; background:url(http://static.8264.com/static/images/common/bbslisticon.jpg) -141px -39px no-repeat;  margin-top:4px;}
.threadlist_info{ padding:6px 0px 0px 0px; font-size:0px;}
.threadlist_info span{ height:18px; line-height:18px; background:#91c5e4; border-radius:2px; color:#fff;
padding:0px 5px;
padding:0px 5px\9\0; /* only for IE9&IE10 */
*padding:2px 5px 0px 5px!important;/* ie7 */
_padding:0px 5px; /* ie6 */
padding:2px 5px\0;   /* IE8&IE9&IE10 */
margin-right:10px; font-size:12px; display:inline-block; *display:inline; *zoom:1;}
.threadlist_info span a{ color:#fff; }
.threadlist_info span a:hover{ text-decoration:none; }
.threadlist_info em{ height:18px; line-height:18px; font-size:12px;  margin-right:10px;  display:inline-block; *display:inline; *zoom:1; color:#949494;}
.threadlist_info em a { color:#949494; }
.threadlist_info em a:hover { color:#1a2b38; text-decoration:none; }
.view_reply{ float:right; font-size:0px; padding-top:1px;_margin-top:-53px; }
.view_reply span{ width:51px; height:17px; color:#fff; font-size:12px; display: inline-block; *display:inline; *zoom:1; margin-left:8px; text-align:center; padding-top:29px;}
.view_reply .reply { background:url(http://static.8264.com/static/images/common/bbslisticon.jpg) 0px -89px no-repeat; }
.view_reply .reply a { color: #fff; }
.view_reply .view{ background:url(http://static.8264.com/static/images/common/bbslisticon.jpg) -52px -89px no-repeat;}
.t_ad{ margin:16px auto; width:980px;}
.forum_category{ border-top:#e6e6e6 solid 1px; padding:16px 0px 10px 0px; font-size:0px; *padding:16px 0px 16px 0px;}
.forum_category a{ display:inline; white-space: nowrap; padding:3px 8px; text-align:center; background:#e1eaef;  color:#3d6277; font-size:12px; margin:0px 5px 6px 0px; border-radius:2px; float:left; }
.forum_category a:hover{ background:#1e6d9b; color:#fff; text-decoration: none; }
.forum_category a.zhong{ background:#1e6d9b; color:#fff; font-weight:normal;}
.forum_category h1{ display:inline;}
.forum_category_chird{ font-size:0px; padding-bottom:10px;}
.forum_category_chird a{ display:inline; white-space: nowrap; padding:3px 8px; text-align:center; background:#e1eaef; color:#3d6277; font-size:12px; margin:0px 5px 6px 0px; border-radius:2px; float:left; }
.forum_category_chird a:hover{ background:#1e6d9b; color:#fff; text-decoration: none; }
.forum_category_chird a.zhong{  background:#1e6d9b; color:#fff; }
.forum_screeningwarpten{ height:35px; border-bottom:#E6E6E6 solid 1px;}
.pdt16{ padding-bottom:16px;}
.forum_screening_l{ float:left; font-size:0; padding-top:3px;}
.forum_screening_l a{ padding:0px 20px; position:relative; display:inline-block; *display:inline; *zoom:1; font-size:14px; color:#585858; background:#eaeaea; height:32px; line-height:32px; text-align:center; border-radius:3px 3px 0px 0px; margin-right:5px;}
.forum_screening_l a:hover{ background:#b3b3b3; color:#fff; text-decoration:none;}
.forum_screening_l a.zhong{ background:#b3b3b3; color:#fff;}
.forum_screening_l .zbk{ width:28px; height:18px; background:url(http://static.8264.com/static/images/common/z_b_icon.png) 0px 0px no-repeat; top:-10px; right:-11px; z-index:1; position:absolute;}
.forum_screening_r{ float:right; font-size:0px; padding-top:3px;}
.forum_screening_r a{ height:29px; display:inline-block; *display:inline; *zoom:1;}
.forum_screening_r .publish{background:url(http://static.8264.com/static/images/common/fabsx.jpg) -87px 0px no-repeat;  width:86px; }
.forum_screening_r .publish.zhong{ background:url(http://static.8264.com/static/images/common/fabsx.jpg) -87px -30px no-repeat;}
.forum_screening_r .reply{background:url(http://static.8264.com/static/images/common/fabsx.jpg) 0px -30px no-repeat;  width:87px;}
.forum_screening_r .reply.zhong{background:url(http://static.8264.com/static/images/common/fabsx.jpg) 0px 0px no-repeat;}
.pt11{ padding-top:11px;}

/* */
.footer { background: #1a2b38; color: #FFF; margin-top: 45px; }
.footer a { color: #FFF; }
.footer a:hover { color: #FFF; }
.topHill { position: absolute; top: -16px; left: 0; width: 175px; height: 16px; background: url(http://static.8264.com/static/image/common/bg_fourm_sprite.png) no-repeat 0 0; text-indent: -9999px; }
.friendLink { background: #0f1f2b; padding: 15px 0; font: 12px/20px "Microsoft Yahei"; }
.friendLink ul li{float:left;list-style:none; display: inline; white-space: nowrap;}
.friendLink a { color: #807f7f; margin-right: 10px; text-decoration: none;}
.friendLink a:hover { color: #FFF; }

/* 20131224 子版块添加 */
.zbktitle:after,.zbkinfo:after{ content: ""; display: block; clear: both; visibility: hidden; }
.zbktitle,.zbkinfo{ zoom: 1; }
.zbkcon{ border-bottom:#E6E6E6 dashed 1px; padding:10px 0px;}
.zbktitle{}
.zbkname{ float:left; font-size:16px; color:#ff7e00;}
.zbkname a{ color:#1a2b38; font-size:16px;}
.zbkname a:hover{ color:#1a2b38;}
.zbk_t{ float:right; color:#1e6d9b; font-size:16px;}
.zbk_t:hover{ float:right; color:#1a2b38; font-size:16px;}
.zbkinfo{ padding-top:7px;}
.zbkinfo .zbk_zt{ padding:0px 8px;}
.zbkinfo .zbkinfo_l{ float:left; font-size:12px; color:#949494;}
.zbkinfo .zbk_or{ background:#ffa349; display:inline-block; *zoom:1; *display:inline; color:#fff; border-radius:3px; padding:0px 5px;}
.zbkinfo .zbkinfo_r{ float:right; color:#949494; font-size:12px;}
.zbkinfo .zbkinfo_r a { color:#949494;}
.zbkinfo .zbkinfo_r a:hover { color: #1a2b38; text-decoration: none; }
.withoutb_t{ border-bottom:0 none;}
.warpten980{ width:980px; margin:0 auto; }
.bbs { margin-bottom: 16px; }
.bbs .tsm { clear: both; padding-left: 0px; }
.tsm dt{float:left;padding:2px 0;width:64px;_width:67px;*width:67px;clear:left;}
/* 清除浮动 */
.clboth:after,.tt_title:after { content: ""; display: block; clear: both; visibility: hidden; }
.clboth,.tt_title{ zoom: 1; }
.tt_title{  font-weight:normal;}
.tt_title b{ font-size:18px; float:left; color:#fff;  font-weight:normal;}
.tt_title span{ font-size:12px; color:#7b94a4; float:left; padding:8px 0px 0px 5px; }
.tt_title a{ font-size:12px; color:#7b94a4; text-decoration:none; padding:8px 0px 0px 0px;}
.tt_title .bkmore { float:right; }
.tt_title a:hover{ font-size:12px; color:#fff; text-decoration:none;}
.choiceness .warpten980{ width:980px; overflow:hidden!important; }
.choiceness .rosecon,.choiceness .hwcon{ width:1000px;}
.choiceness .xlcon{ width:1000px;}
.rosecon{ width:1000px;}
.rosecon li,.hwcon li{overflow:hidden; float:left; background:#fff; position:relative; border:#E5E5E5 solid 1px; margin:16px 5px 0px 0px; display:inline;width:190px;}
.rosecon li img{ width:190px; height:287px;}
.hwcon li img{ width:190px; height:257px;}
.rosecon li .name,.hwcon li .name { display:block; font-size:14px; color:#585858; text-decoration:none; height:32px; padding-top:19px; text-align:center;}
.rosecon li .name:hover,.hwcon li .name:hover{  font-size:14px; color:#585858; text-decoration:none;}
.xlcon li{overflow:hidden; float:left; box-shadow: 0px 0px 2px  #000; background:#fff; position:relative; border:#555 solid 1px; margin:16px 5px 0px 0px; display:inline;width:190px;}
.hwcon .p_t_l{ top:244px; left:60px;}
.xlcon li img{ width:190px; height:257px;}
.xlcon li .name { display:block; font-size:14px; color:#585858; text-decoration:none; height:46px; padding-top:5px; text-align:center; line-height:3; overflow:hidden;}
.xlcon li .name:hover{  font-size:14px; color:#585858; text-decoration:none;}
.xlcon_ptl{ top:244px; left:60px;}
.q_x{ width:71px; height:22px; background:url(http://static.8264.com/static/images/common/rp24.png) 0px 0px no-repeat; text-align:center; color:#fff; font-size:12px; padding-top:0px; display:block; position:absolute; text-decoration:none;}
.p_t_l{ top:274px; left:60px;}
.d_h{ width:180px; border-top:#e6e6e6 solid 1px; margin:0 auto; padding:8px 0 ; text-align:center; color:#949494; }
.d_h .dj{ display:inline-block; *display:inline; *zoom:1; background:url(http://static.8264.com/static/images/common/tticon.jpg) -37px -20px no-repeat; padding:0px 10px 0px 19px; color:#949494; font-size:12px;}
.d_h .dp{ display:inline-block; *display:inline; *zoom:1;  background:url(http://static.8264.com/static/images/common/tticon.jpg) -41px -44px no-repeat; padding:0px 10px 0px 15px; color:#949494; font-size:12px;}
.p_t_x{ top:244px; left:60px;}
.hxccon li{ width:190px; height:235px; overflow:hidden; float:left;  background:#fff; position:relative; border:#eee solid 1px; margin:16px 4px 0px 0px; display:inline;}
.hxccon li img{ width:190px; height:145px;}
.hxccon li .name{ display:block; font-size:14px; color:#585858; text-decoration:none; height:32px; padding-top:19px; text-align:center;}
.hxccon li .name:hover{ font-size:14px; color:#585858; text-decoration:none;}
.p_t_hx{ top:133px; left:60px;}
.zbtjcon li{ width:190px; height:250px; overflow:hidden; float:left; background:#fff; position:relative; border:#e5e5e5 solid 1px; margin:16px 4px 0px 0px; display:inline; text-align:center;}
.zbtjcon li img{ width:155px; height:155px;}
.zbtjcon li .name{ display:block; height:45px; text-align:center; padding-top:13px;}
.zbtjcon li .name a{ display:block; font-size:12px; color:#585858; text-decoration:none;}
.zbtjcon li .name a:hover{  font-size:12px; color:#585858; text-decoration:none;}
.zbtjcon li .name i{ color:#949494; font-size:12px; font-style:normal;}
.p_t_zbtj{ top:142px; left:60px;}
.bbslistbox{ width:980px;}
.bbslistbox th{ background:#f6f6f6; height:37px; text-align:left; font-size:12px; vertical-align:middle; color:#3a3a3a;}
.bbslistbox th.t_i26{ text-indent:26px; text-align:left; }
.bbslistbox td{ border-bottom:#e3e3e3 dashed 1px; vertical-align:middle; height:43px; text-align:left; line-height: 1.1;}
.bbslistbox td.glfx{ width:25px;}
.bbslistbox td.tb_{ width:25px;}
.bbslistbox td.w660{ width:660px; text-align:left; padding-right:30px;}
.bbslistbox td.w660 .titletable td{ border-bottom:none 0; }
.bbslistbox td.w660 .titletable td .title_o_t_s{ width:100%; overflow:hidden; height:16px;}
.p_l10{padding-left:10px;}
.bbslistbox td.w660 .f_16{ font-size:14px; color:#1E6D9B; line-height: 1.3; font-weight:normal;}
.bbslistbox td.w660 .f_16:hover{ font-size:14px; color:#1a2b38; }
.bbslistbox td.w660 .tps a:hover { background: none; }
.bbslistbox td .fl_17_no a{ height:17px; line-height:17px; background:#e1eaef; border-radius:2px; color:#31586e; text-decoration:none; font-size:12px; padding:4px 5px; display: inline; white-space: nowrap; margin-right:10px;}
.bbslistbox td .fl_17_no a:hover{ background:#1e6d9b; color:#fff; text-decoration:none; font-size:12px;}
.titletable .tps{ font-size:16px;}
.titletable .tps a{ font-size:12px;}
.titletable .newicon{ color:#ff7e00; font-size:12px;}
.titletable img { margin-top: -4px; *margin-top: 0px; }
.bbslistbox td.w105{ width:105px; font-size:12px; text-align:left; line-height: 1.5;}
.bbslistbox td.w105 .d_block{display:block; }
.bbslistbox td.w105 .d_block a { color: #585858; }
.bbslistbox td.w105 .d_block a:hover{ color: #1a2b38; text-decoration: none; }
.bbslistbox td.w105 .d_block a.gray { color: #949494; }
.bbslistbox td.w105 .d_block a.gray:hover{ color: #1a2b38; text-decoration: none; }
.bbslistbox td.w105 em{ color:#949494;}
.bbslistbox td.w105 .gray{ color:#949494;}
.bbslistbox td.w105 .gray:hover{ color:#1a2b38;}
.bbslistbox td.w105 a:hover{ color:#1a2b38;}
.bbslistbox td.w70{ width:70px; font-size:12px; text-align:left; line-height: 1.5;}
.bbslistbox td.w70 .d_block{display:block;}
.bbslistbox td.w70 em{ color:#949494;}
.bbslistbox td.w70 .blue{ color:#1e6d9b;}
.bbslistbox td.w70 .blue:hover{ color:#1a2b38; text-decoration: none;}
.bbslistbox td.min_w20{ min-width:20px;}
.n_m_s_t{ font-family:宋体,新细明体,Verdana,Arial,sans-serif;}

/* 新装备通条 */
.tt_title1:after,.zbtlconlist:after{content: ""; display: block; clear: both; visibility: hidden;}
.tt_title1,.zbtlconlist{ zoom: 1;}
.zbtl_w{ width:980px; margin:0 auto; font-family:"Microsoft Yahei",Tahoma,Helvetica,SimSun,sans-serif;}
.tt_title1{ font-weight:normal; margin:10px 0px 16px 0px; padding:0px;}
.zbtl_name{color: #1A2B38; font-size: 16px; float:left; font-weight:normal;}
.bq_blue_w{ height:21px; background:url(http://static.8264.com/static/images/common/zbtlcion_q.png) left top no-repeat; float:left; padding:0px 0px 0px 34px; margin:2px 0px 0px 10px;}
.bq_blue_con{ background:url(http://static.8264.com/static/images/common/zbtlcion_h.jpg) right top no-repeat #43a6df; height:21px; padding:0px 8px 0px 0px; color:#fff; font-size:12px; line-height:21px; display:inline-block;}
.qqbm{ float:right; color:#949494; font-size:12px; margin-top:4px;}
.gd{ float:right; color: #7B94A4; font-size:12px; text-decoration:none; margin:4px 0px 0px 10px;}
.zbtlconlist{ width:980px; overflow:hidden;}
.zbtlconlist ul{ width:990px;}
.zbtlconlist li{ float:left; width:178px; border:#e5e5e5 solid 1px; padding:6px; margin:0px 5px 0px 0px; display:inline; position:relative;}
.zbtlconlist li img{ width:178px; height:178px;}
.zbtlconlist li .zbname_b{ display:block; text-align:center; font-size:12px; color:#1a2b38; text-decoration:none; margin-top:8px; height:20px; overflow:hidden;}
.zbtlconlist li .zhedang{ width:178px; height:178px; background:url(http://static.8264.com/static/images/common/zbtlbg.png) left top no-repeat; position: absolute; left:6px; top:6px; display:none;}
.zbtlconlist li .zbname_b:hover{ font-size:12px; color:#1a2b38; text-decoration:none;}
.zbtlconlist li .zbinfo_c{ font-size:12px; color:#949494; display:block; height:35px; overflow:hidden; margin:5px 3px 5px 7px;}

/* 分享等侧栏 */
.share_bd_warpten{ width:50px; position:absolute; float:right; position: fixed !important;  position: absolute; z-index: 1; bottom:20px; right: 30px; background:#fff;}
.bbs_share_sc{ width:50px;}
.bbs_share_sc li{ width:50px; height:51px;}
.bbs_share_sc li.ps_re{ position:relative;}
.bbs_share_sc li a{ background:url(http://static.8264.com/static/images/common/baidushare.jpg) no-repeat; display:block; }
.bbs_share_sc li .share{ width:50px; height:50px; background-position:0px 0px;}
.bbs_share_sc li .share:hover{ width:50px; height:50px; background-position:0px -204px;}
.bbs_share_sc li .sc{ width:50px; height:50px; background-position:0px -51px;}
.bbs_share_sc li .sc:hover{ width:50px; height:50px; background-position:0px -255px;}
.bbs_share_sc li .bbsli{ width:50px; height:50px; background-position:0px -102px;}
.bbs_share_sc li .bbsli:hover{ width:50px; height:50px; background-position:0px -306px;}
.bbs_share_sc li .gotop_50{ width:50px; height:50px; background-position:0px -153px;}
.bbs_share_sc li .gotop_50:hover{ width:50px; height:50px; background-position:0px -357px;}
.bbs_share_sc li .kfhelf{ width:50px; height:50px; background-position:0 -867px;}
.bbs_share_sc li .kfhelf:hover{ width:50px; height:50px; background-position:0 -816px;}
.share_bd{ width:200px; position:absolute; height:50px; top:-6px; right:50px; font-size:0px; display:none;}
.bbs_share_sc li .share_bd a{ width:50px; height:50px; background:url(http://static.8264.com/static/images/common/baidushare.jpg) no-repeat; display:inline-block; _display:inline; _zoom:1;}
.bbs_share_sc li .share_bd a.sina{ background-position:0 -408px;}
.bbs_share_sc li .share_bd a.sina:hover{ background-position:0 -612px;}
.bbs_share_sc li .share_bd a.qq{ background-position: 0px -459px;}
.bbs_share_sc li .share_bd a.qq:hover{ background-position: 0px -663px;}
.bbs_share_sc li .share_bd a.wb{ background-position: 0px -510px;}
.bbs_share_sc li .share_bd a.wb:hover{ background-position: 0px -714px;}
.bbs_share_sc li .share_bd a.wx{ background-position: 0px -561px;}
.bbs_share_sc li .share_bd a.wx:hover{ background-position: 0px -765px;}
.bdshare-button-style0-32 a{padding:0;margin:0;}
